MONGODB_URI=mongodb://localhost:27017/trading
JWT_SECRET=your_jwt_secret_key_here
OPENAI_API_KEY=sk-your-openai-key-here
ML_SERVICE_URL=http://localhost:8000
PORT=5050
CORS_ORIGIN=http://localhost:5173
GOOGLE_CLIENT_ID=191537337866-0agkidivpppjl3kth40ahiaqmdf6s450.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID=191537337866-0agkidivpppjl3kth40ahiaqmdf6s450.apps.googleusercontent.com
VITE_API_BASE_URL=http://localhost:5050/api
VITE_ML_API_URL=http://localhost:8000
